/*
Theme Name:  Instituto Pró-Diversidade
Theme URI:  http://prodiversidade.org.br/
Description:  Tema filho baseado no tema MagBook desenvolvido por <a href="https://themefreesia.com">Theme Freesia</a>
author-:  Instituto Pró-Diversidade
Textdomain:  prodiversidade
author- URI:  http://prodiversidade.org.br/
Template:  magbook
Version:  1.0
License:  GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html                 
*/
:root {
  --azul: #0c4c8a;
}

#page {
  border-radius: 5px;
}

.logo-bar {
  background: #ffd900;
  background: -moz-linear-gradient(
    top,
    #ffd900 0%,
    #ffd200 20%,
    #ffb700 66%,
    #ffb400 100%
  );
  background: -webkit-linear-gradient(
    top,
    #ffd900 0%,
    #ffd200 20%,
    #ffb700 66%,
    #ffb400 100%
  );
  background: linear-gradient(
    to bottom,
    #ffd900 0%,
    #ffd200 20%,
    #ffb700 66%,
    #ffb400 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd900', endColorstr='#ffb400',GradientType=0 );
}

.top-bar {
  background-color: #ffd800;
  padding-top: 1rem;
}
.top-bar-date {
  display: none;
}

.header-social-block .social-links li a {
  font-size: 18px;
  color: #000;
}
/* LINKS DAS REDES */
.social-links li a[href*="instagram.com"]:before {
  content: "\f16d";
}
.social-links li a[href*="facebook.com"]:before {
  content: "\f09a";
}
.social-links li a[href*="twitter.com"]:before {
  content: "\f099";
}
.social-links li a[href*="youtube.com"]:before {
  content: "\f16a";
}
.social-links li a[href*="linkedin.com"]:before {
  content: "\f0e1";
}
.social-links li a[href*="youtube.com"]:hover {
  color: red;
}

/* AUTHOR BOX */

.author-box {
  padding: 30px;
  margin: 0 0 40px;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  background: #f6f6f6;
  float: left;
}
.author-box hr {
  border-top-color: #ddd;
}
.author-box .author-img {
  float: left;
  width: 100px;
  margin-right: 10px;
  border: 10px solid transparent;
  border-radius: 50%;
  transition: border-color 0.5s linear;
}
.author-box .author-img:hover,
.author-box .author-img:active,
.author-box .author-img:focus {
  border-color: var(--azul);
}
.author-box .author-img img {
  border-radius: 50%;
}
.author-box .author-name {
  font-weight: bold;
  clear: none;
  display: inline;
}

.author-box .author-info {
  float: left;
  padding-left: 0;
  width: calc(100% - 130px);
}
.author-box .author-info p:last-of-type {
  margin-bottom: 0;
}
.author-page .author-box,
.author-page .author-info,
.author-page .author-img {
  float: none;
  width: 100%;
}
.author-page .author-img {
  width: 250px;
  margin: 0 auto 2rem;
}

.author-page .author-img,
.author-page .author-img img {
  width: 250px;
}

.archive.author .author-link {
  display: none;
}
footer .column-4 {
  width: 33%;
}

footer .column-4 a {
  color: #969595;
  text-decoration: underline;
}
footer .column-4 h4 {
  font-size: 16px;
  line-height: 1.437;
}
footer .column-4 svg {
  margin-right: 0.5rem;
}
.site-info .social-links a,
.site-info .wrap,
.site-info .social-links {
  border-width: 0;
}
.site-info .social-links a {
  border-radius: 100%;
}
.site-info .social-links a:hover {
  background: #fff;
}
.copyright-wrap {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.site-info .copyright a {
  font-weight: normal;
}
.site-info .copyright a:first-child {
  font-size: 12px;
}

.entry-meta svg,
.entry-meta a:before {
  margin-right: 0.5rem;
}

.post-featured-image figcaption {
  text-align: center;
  font-size: 12px;
  padding: 0.5rem;
}


#comments .comments-area article {
  margin: 0;
}

ol.comment-list {
  margin: 0 !important;
  list-style: none !important;
}
ol.comment-list > li.comment {
  padding: 1rem;
  border: 1px solid #f1f1f1;
}
ol.comment-list > .comment + li {
  border-top: none;
}
#comments .comment ol {
  margin-top: 30px;
}
#comments ol.comment-list .comment-body {
  margin: 0;
}
#comments ol.comment-list li .comment-author .avatar {
  border-radius: 100%;
}

#comments .comment-author img {
  float: left;
  margin-right: 0.5rem;
}
.comment-metadata {
  font-size: 12px;
  opacity: 0.8;
}
.comment-content {
  margin-top: 1rem;
}
